{% load fdroid_website_search_tags %}

{% get_link_back as link_back %}
{% get_color_text as color_text %}
{% get_color_background as color_background %}
{% get_color_background_header as color_background_header %}

<html>

  <head>
    <title>F-Droid Search: {{query}}</title>
  </head>

  <body style="margin:0px;background-color:{{color_background}};color:{{color_text}};">
    <div style="padding-left:5%;padding-right:5%;width:90%;background:{{color_background_header}};">
      <div style="display:inline-block"><a href="{{link_back}}">back</a></div>
      <div style="display:inline-block">
        <form method="get">
          <input type="text" name="q" value="{{query}}"/>
          <input type="submit" value="search"/>
        </form>
      </div>
    </div>
    {% for result in page.object_list %}
      <a href="{{result.object.siteUrl}}">
        <div style="margin-left:5%;margin-right:5%;width:90%">
          {% if result.object.icon %}
            <img src="{{result.object.iconUrl}}" style="display:inline-block;width:48px;height:48px;"/>
          {% else %}
            <div style="display:inline-block;background:red;width:48px;height:48px;"></div>
          {% endif %}
          <div style="display:inline-block;">
            <div>
              <span style="font-size:20px;">{{result.object.name}}</span>
	      <span style="color:{{color_text}};">{{result.object.summary}}</span>
            </div>
            <div style="color:#aaa;">{{result.object.siteUrl}}</div>
          </div>
        </div>
      </a>
    {% endfor %}
  </body>

</html>
